<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="btn-group col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
					<h2 class="pull-left">Card</h2>
					<div class="btn-group pull-right" style="margin-top:20px;">
						<%= link_to "Edit Card", '#', class: 'btn-info btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#cardModal" %>
						<%= link_to "Delete Card", '#', class: 'btn-danger btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#deleteDeck" %>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<div class="col-md-12 col-sm-12 col-sm-12">
					<p style="padding-top:5px;"></p>
					<div class="deck-content col-md-12 col-xs-12 col-sm-12">
						<div class="front-card">
							<div class="text-center">
								<h3 class="front"><%= @card.front %></h3>
							</div>
						</div>
						<hr>
						<div class="back-card">
							<div class="text-center">
								<h3 class="back"><%= @card.back %></h3>
							</div>
						</div>
						<br>
						<button class="btn btn-block btn-info" id="show">Show card</button>
						<p style="padding-top: 20px;"></p>
					</div>
				</div>
			</div>
			<footer class="text-center">
			  <%= link_to "Return", deck_path(@card.deck_id), class:"btn btn-default" %>
			</footer>
		</div>
		<% unless @card.previous.nil? %>
		<div class="arrowleft">
			<%= link_to card_path(@card.previous) do %><span class="glyphicon glyphicon-arrow-left"></span><% end %>
		</div>
		<% end %>
		<% unless @card.next.nil? %>
		<div class="arrowright">
			<%= link_to card_path(@card.next) do %><span class="glyphicon glyphicon-arrow-right"></span><% end %>
		</div>
		<% end %>
	</div>
</div>

<!-- Edit Card Modal -->
<% provide :cardPurpose,'Edit Card' %>
<% provide :cardSubmit,'Edit'  %>
<%= render 'shared/cardModal' %>


<!-- Delete Card Modal -->
<% provide :delete_id, "deleteCard" %>
<% provide :delete_path, card_path(@card) %>
<%= render 'shared/deletecontent' %>

<script>
//Hides back and shows when clicked on and disables button
$(document).ready(function(){
	$(".back").hide();
    $("#show").click(function(){
        if(!$('#show').hasClass('disabled')){
        	$(".back").show();
        	$('#show').toggleClass('disabled');
        }
    });
});
</script>