<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="btn-group col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
					<h2 class="pull-left">Card(<%=@card.id%>/<%=@deck.cards.length%>) </h2>
					<div class="btn-group pull-right" style="margin-top:20px;">
						<%= link_to "Edit Card", '#', class: 'btn-info btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#newDeck" %>
						<%= link_to "Delete Card", '#', class: 'btn-danger btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#deleteDeck" %>
					</div>

				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<div class="col-md-12 col-sm-12 col-sm-12">
					<p style="padding-top:5px;"></p>
					<div class="deck-content col-md-12 col-xs-12 col-sm-12">
						<p><%= @card.front %></p>
						<p><%= @card.back %></p>
						
					</div>
				</div>
			</div>
		</div>
		<p style="padding-bottom: 10px;"></p>
		<%= render 'shared/returnfooter' %>
	</div>
</div>


<% provide :delete_id, "deleteCard" %>
<% provide :delete_path, card_path(@card) %>
<%= render 'shared/deletecontent' %>