<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="pull-left">Decks</h2>
				<%= link_to "Create New Deck", '#', class: 'pull-right btn-success btn', style: 'margin-top:20px;', type:"button", 'data-toggle' => "modal", 'data-target' => "#newDeck" %>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<!-- Insert loop to go over to list each deck here with edit tabs to right and view to main link -->
				<% if @decks.length != 1 %>
					<% @decks.each do |f| %>
						<% unless f.id.nil? %>
						<%= link_to f.title, deck_path(f.id) %>
						<% end %>
					<% end %>
					<p><here</p>
				<% else %>
					<p>The birds are chirping, why don't you create some decks to get started!</p>
				<% end %>
			</div>
		</div>
	</div>
</div>



<!-- New Deck Modal -->
<div id="newDeck" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Deck</h4>
      </div>
      <div class="modal-body">
		<%= form_for @deck do |f| %>
			<div class="form-group">
				<%= f.label :Name %></p>
				<%= f.text_field :title, class:"form-control" %>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <%= f.submit "Create", class: "btn btn-success pull-right" %>
      </div>
		<% end %>
    </div>

  </div>
</div>