<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="col-md-9 col-sm-12 col-xs-12"><%= @deck.title %></h2>
				<div class="btn-group col-md-3 col-sm-12 col-xs-12" style="margin-top:20px;">
					<%= link_to "Edit Deck", '#', class: 'btn-info btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#newDeck" %>
					<%= link_to "Create New Card", '#', class: 'btn-success btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#newCard" %>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<% if @cards.length != 0 %>
					<div class="col-md-12 col-sm-12 col-sm-12">
						<p style="padding-top:5px;"></p>
						<% @cards.each do |f| %>
							<% unless f.id.nil? %>
							<div class="deck-content col-md-12 col-xs-12 col-sm-12">
							<%= link_to f.front, card_path(f.id), class:'col-md-7 col-sm-2 col-xs-3' %>
							<div class="btn-group">
								<%= link_to "Edit Card", '#', class: "btn btn-info btn-sm" %>
								<%= link_to "Delete Card", '#', class: "btn btn-danger btn-sm" %>
							</div>
							</div>
							<% end %>
						<% end %>
					</div>
				<% else %>
					<p>No cards added yet!</p>
				<% end %>
				</div>
			</div>
			<footer>
				<%= link_to "Back", decks_path %>
			</footer>
		</div>
	</div>
</div>


<!-- New Card Modal -->
<div id="newCard" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Card</h4>
      </div>
      <div class="modal-body">
		<%= form_for @card do |f| %>
			<div class="form-group">
				<%= f.label :Front %></p>
				<%= f.text_area :front, rows:5, class:"form-control", placeholder: 'Front of the card', required:true %>
			</div>
			<div class="form-group">
				<%= f.label :Back %></p>
				<%= f.text_area :back, rows: 5,class:"form-control", placeholder: 'Back of the card', required:true %>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <%= f.submit "Create", class: "btn btn-success pull-right" %>
      </div>
		<% end %>
    </div>

  </div>
</div>

<% provide :modal_title, 'Edit title of deck' %>
<%= render 'new_deck' %>