<!-- Return link to decks -->
<% provide :return_link, decks_path%>


<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="pull-left"><%= truncate(@deck.title, length: 20) %></h2>
				<div class="btn-group pull-right visible-lg visible-md" style="margin-top:20px;">
					<% if @deck.share == false %>
					<%= link_to "Share Deck", '#', class: 'btn-warning btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#shareDeck" %>
					<% else %>
					<% if deck_creator? %>
					<%= link_to '#', class: 'btn-success btn btn-sm disabled' do %><span class="glyphicon glyphicon-check"></span>Already sharing<% end %>
					<% end %>
					<% end %>
					<% if deck_creator? %>
					<%= link_to "Delete Deck", '#', class: 'btn-danger btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#deleteDeck" %>
					<%= link_to "Edit Deck", '#', class: 'btn-info btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#newDeck" %>
					<% end %>
					<%= link_to "Create New Card", '#', class: 'btn-success btn btn-sm', type:"button", 'data-toggle' => "modal", 'data-target' => "#cardModal" %>
				</div>
				<div class="dropdown visible-xs visible-sm col-sm-12 col-xs-12">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
				  <span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <% if @deck.share == false %>
				    <li><%= link_to "Share Deck", '#', type:"button", 'data-toggle' => "modal", 'data-target' => "#shareDeck" %></li>
				    <% else %>
					<li><%= link_to '#' do%><span class="glyphicon glyphicon-check"></span>Already sharing<% end %></li>
				    <% end %>
				    <li><%= link_to "Delete Deck", '#', type:"button", 'data-toggle' => "modal", 'data-target' => "#deleteDeck" %></li>
				    <li><%= link_to "Edit Deck", '#', type:"button", 'data-toggle' => "modal", 'data-target' => "#newDeck" %></li>
				    <li class="divider"></li>
				    <li><%= link_to "Create New Card", '#', type:"button", 'data-toggle' => "modal", 'data-target' => "#cardModal" %></li>
				  </ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<% if @cards.length != 0 %>
					<div class="col-md-12 col-sm-12 col-sm-12">
						<p style="padding-top:5px;"></p>
						<% @cards.each do |f| %>
							<% unless f.id.nil? %>
							<div class="deck-content col-md-12 col-xs-12 col-sm-12">
								<%= link_to truncate(f.front, length: 35), card_path(f.id), class:'pull-left' %>
								<div class="btn-group pull-right hidden-sm hidden-xs">
									<%= link_to "Delete Card", card_path(f.id), method: :delete, class: "btn btn-danger btn-sm" %>
								</div>
							</div>
							<% end %>
						<% end %>
					</div>
				<% else %>
					<p>No cards added yet!</p>
				<% end %>
				</div>
			</div>
			<p style="padding-bottom: 20px;"></p>
			<%= render 'shared/returnfooter' %>
		</div>
	</div>
</div>

<!-- Create Card Modal -->
<% provide :cardPurpose,'Create new Card' %>
<% provide :cardSubmit,'Create Card'  %>
<%= render 'shared/cardModal' %>

<!-- Share Deck Modal -->
<div id="shareDeck" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share deck</h4>
      </div>
      <div class="modal-body">
		<%= form_for @deck do |f| %>
		<p>Once you choose to share your deck, it cannot be stopped. Click share to continue.</p>
		<div class="form-group">
			<%= f.hidden_field :share, class:"form-control", placeholder: 'Title of the Deck', value: true %>
		</div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Share", class: "btn btn-success pull-right" %>
        <% end %>
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
      </div>

    </div>

  </div>
</div>

<!-- Edit deck -->
<% provide :modal_title, 'Edit title of deck' %>
<% provide :modal_submit, "Edit" %>
<%= render 'new_deck' %>

<!-- Delete deck -->
<% provide :delete_id, "deleteDeck" %>
<% provide :delete_path, deck_path(@deck) %>
<%= render 'shared/deletecontent' %>