<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%= link_to 'FC', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li <% if current_page?(root_path) %> class="active" <% end %>><%= link_to 'Home', root_path %></li>
        <li <% if current_page?(about_path) %> class="active" <% end %>><%= link_to 'About', about_path %></li>
        <li <% if current_page?(contact_path) %> class="active" <% end %>><%= link_to 'Contact', contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
        <li><%= link_to "Study", users_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path , method: 'delete'%></li>
        <% end %>
        <% unless signed_in?%>
        <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Sign up<% end %></li>
        <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login<% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<footer class="footer">
	<div class="container">
		<div class="col-xs-6 col-sm-4 col-md-8">
      <ul class="list-unstyled">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="nav navbar-nav" style="padding-top: 30px;">
            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
		<div class="col-md-12 col-xs-12 col-sm-12">
      <p class="text-center"><em>© Copyright 2015 FC</em></p>
    </div>
	</div>
</footer>

</body>
</html>
